Weekly project 3: Data cleaning

In [228]:
#First step import usefull library
import pandas as pd
import numpy as np

In [229]:
#Import data using pandas
df=pd.read_excel(r"C:\Users\matui\Downloads\2 -Entrepreneurial competency in university students.xlsx")
df

,EducationSector,Target IndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,Target-ent_competency
0,Engineering Sciences,No,19.0,Male,Yes,No,2.0,2.0,3.0,3.0,2.0,2.0,3.0,Yes,Passion,NaN,1
1,Engineering Sciences,Yes,22.0,Male,No,Yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,Yes,Vision,Just not interested! (Want to work in the corp...,0
2,Engineering Sciences,No,18.0,Male,Yes,No,3.0,4.0,3.0,3.0,3.0,4.0,4.0,No,Passion,Not willing to start a venture in India and wa...,0
3,Engineering Sciences,Yes,20.0,Male,Yes,Yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,No,Rrresilience,Not able to take a Financial Risk,0
4,Engineering Sciences,Yes,19.0,Male,Yes,Yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,Yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,Yes,19.0,Male,Yes,Yes,NaN,5.0,4.0,3.0,4.0,4.0,5.0,Yes,Positivity,NaN,1
215,Engineering Sciences,Yes,19.0,Male,Yes,No,2.0,2.0,2.0,2.0,2.0,2.0,2.0,No,Work Ethic,Just not interested! (Want to work in the corp...,0
216,Engineering Sciences,Yes,22.0,Female,Yes,Yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,No,Vision,NaN,1
217,Engineering Sciences,No,19.0,male,Yes,No,1.0,2.0,2.0,3.0,3.0,2.0,2.0,No,Passion,Lack of Knowledge,0
218,Engineering Sciences,Yes,18.0,Male,unknown,Yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,No,Passion,NaN,1

In [230]:
#Checking every column data types
df.dtypes

EducationSector               object
Target IndividualProject      object
Age                          float64
Gender                        object
City                          object
Influenced                    object
Perseverance                 float64
DesireToTakeInitiative       float64
Competitiveness              float64
SelfReliance                 float64
StrongNeedToAchieve          float64
SelfConfidence               float64
GoodPhysicalHealth           float64
MentalDisorder                object
KeyTraits                     object
ReasonsForLack                object
Target-ent_competency          int64
dtype: object

In [231]:
#Checking columns names
df.columns

Index(['EducationSector', 'Target IndividualProject ', 'Age', 'Gender', 'City',
       'Influenced', 'Perseverance', 'DesireToTakeInitiative',
       'Competitiveness', 'SelfReliance', 'StrongNeedToAchieve',
       'SelfConfidence', 'GoodPhysicalHealth', 'MentalDisorder', 'KeyTraits',
       'ReasonsForLack', 'Target-ent_competency'],
      dtype='object')

In [232]:
#Checking values in column KeyTraits (we saw with the first df that values might need some cleaning)
df['KeyTraits'].value_counts()

Positivity      73
Passion         61
Work Ethic      39
Vision          35
Resilience       9
Rrresilience     1
passion          1
Name: KeyTraits, dtype: int64

In [236]:
df['KeyTraits'] = df['KeyTraits'].str.lower()

In [237]:
#Replace the misspelled value to the correct version
df.loc[df['KeyTraits'].str.startswith('rr'), 'KeyTraits'] = 'resilience'

In [238]:
#Checking missing values
df.isna().sum()

EducationSector               0
Target IndividualProject      0
Age                          14
Gender                        0
City                          0
Influenced                    0
Perseverance                 17
DesireToTakeInitiative       11
Competitiveness               9
SelfReliance                 22
StrongNeedToAchieve           8
SelfConfidence                7
GoodPhysicalHealth            7
MentalDisorder               12
KeyTraits                     0
ReasonsForLack               91
Target-ent_competency         0
dtype: int64

In [239]:
#Checking wrong values in City
df['City'].value_counts()

Yes        182
No          33
unknown      3
no           1
Name: City, dtype: int64

In [240]:
#Replace the misspelled value to the correct version
df.loc[df['City'].str.startswith('no'), 'City'] = 'No'
df.loc[df['City'].str.startswith('unk'), 'City'] = np.nan

In [241]:
#Replace missing ages by the mean
df.loc[(df['Age'].isnull()), 'Age'] = 20

In [242]:
#Replace missing values by NaN
df.loc[(df['MentalDisorder'].isnull()), 'MentalDisorder'] = "no_value"
df.loc[df['MentalDisorder'].str.startswith('no_value'), 'MentalDisorder'] = np.nan

In [243]:
#Checking indicator mean value
df.describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,219.000000,202.000000,208.000000,210.000000,197.000000,211.000000,212.000000,212.000000,219.000000
mean,19.771689,3.346535,3.591346,3.571429,3.705584,3.914692,3.566038,3.566038,0.415525
std,1.282530,1.001845,1.163587,1.118416,1.066474,1.033866,1.122952,1.105941,0.493941
min,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,19.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,0.000000
50%,20.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000
75%,20.000000,4.000000,5.000000,4.000000,5.000000,5.000000,4.000000,4.000000,1.000000
max,26.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [244]:
#Creating a function that will replace the missing values by the mean
def fill_indicator(column, mean):

        df.loc[(df[column].isnull()), column] = mean

In [245]:
#Creating dictionnary with the pair column : mean
value = {'Perseverance':3,'DesireToTakeInitiative':3,
        'Competitiveness':4, 'SelfReliance':4, 'StrongNeedToAchieve':4,
        'SelfConfidence':3, 'GoodPhysicalHealth':3}

In [246]:
#Loop to use the function fill_indicator with values in the dictionnary
for i in value:
    fill_indicator(i, value[i])

In [247]:
#Checking content of Reasons for lack
df['ReasonsForLack'].value_counts()

Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else)                                                                                                                                                                                                                     41
Academic Pressure                                                                                                                                                                                                                                                                                                                           11
Not willing to start a venture in India and waiting for future relocation                                                                                                                                                                                                                                                                   10
Lack of Knowledge                                                                                                                                                                                                                                                                                                                            7
Academic Pressure, Unwillingness to take risk, Lack of Knowledge                                                                                                                                                                                                                                                                             4
Unwillingness to take risk                                                                                                                                                                                                                                                                                                                   4
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Lack of Knowledge, Not able to take a Financial Risk                                                                                                                                                                4
Not able to take a Financial Risk                                                                                                                                                                                                                                                                                                            3
Lack of Knowledge, Not able to take a Financial Risk                                                                                                                                                                                                                                                                                         3
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Lack of Knowledge                                                                                                                                                                                                   2
Academic Pressure, Not able to take a Financial Risk                                                                                                                                                                                                                                                                                         2
Lack of Knowledge, Parental Pressure                                                                                                                                                                                                                                                                                                         2
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Lack of Knowledge, Not able to take a Financial Risk                                                                                                                                             2
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Not able to take a Financial Risk                                                                                                                                                                                   2
Academic Pressure, Lack of Knowledge, Not able to take a Financial Risk                                                                                                                                                                                                                                                                      2
Lack of Knowledge, Parental Pressure, Mental Block, Not able to take a Financial Risk                                                                                                                                                                                                                                                        1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Lack of Knowledge, Not able to take a Financial Risk, Not willing to start a venture in India and waiting for future relocation                                                                                     1
Not able to take a Financial Risk, Not willing to start a venture in India and waiting for future relocation                                                                                                                                                                                                                                 1
Academic Pressure, Unwillingness to take risk, Parental Pressure, Not able to take a Financial Risk                                                                                                                                                                                                                                          1
Lack of Knowledge, Mental Block                                                                                                                                                                                                                                                                                                              1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Unwillingness to take risk                                                                                                                                                                                          1
Academic Pressure, Unwillingness to take risk, Not able to take a Financial Risk                                                                                                                                                                                                                                                             1
Parental Pressure                                                                                                                                                                                                                                                                                                                            1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Lack of Knowledge, Parental Pressure, Not able to take a Financial Risk                                                                                                                          1
Academic Pressure, Lack of Knowledge, Parental Pressure                                                                                                                                                                                                                                                                                      1
Academic Pressure, Lack of Knowledge, Not able to take a Financial Risk, Not willing to start a venture in India and waiting for future relocation                                                                                                                                                                                           1
Academic Pressure, Unwillingness to take risk, Lack of Knowledge, Parental Pressure, Mental Block, Not able to take a Financial Risk, Not willing to start a venture in India and waiting for future relocation                                                                                                                              1
Lack of Knowledge, Mental Block, Not able to take a Financial Risk                                                                                                                                                                                                                                                                           1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Not willing to start a venture in India and waiting for future relocation                                                                                                                                           1
Mental Block                                                                                                                                                                                                                                                                                                                                 1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Lack of Knowledge                                                                                                                                                                                1
Parental Pressure, Not able to take a Financial Risk, Not willing to start a venture in India and waiting for future relocation                                                                                                                                                                                                              1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Not able to take a Financial Risk                                                                                                                                                                1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Unwillingness to take risk, Lack of Knowledge, Parental Pressure, Mental Block, Not able to take a Financial Risk, Not willing to start a venture in India and waiting for future relocation     1
Lack of Knowledge, Not willing to start a venture in India and waiting for future relocation                                                                                                                                                                                                                                                 1
Academic Pressure, Lack of Knowledge, Parental Pressure, Mental Block, Not able to take a Financial Risk                                                                                                                                                                                                                                     1
Academic Pressure, Lack of Knowledge                                                                                                                                                                                                                                                                                                         1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Unwillingness to take risk, Lack of Knowledge, Parental Pressure, Not able to take a Financial Risk                                                                                              1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Unwillingness to take risk, Lack of Knowledge                                                                                                                                                                       1
Unwillingness to take risk, Lack of Knowledge, Not able to take a Financial Risk                                                                                                                                                                                                                                                             1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Lack of Knowledge, Parental Pressure, Mental Block                                                                                                                                                                  1
Academic Pressure, Lack of Knowledge, Mental Block                                                                                                                                                                                                                                                                                           1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure, Parental Pressure                                                                                                                                                                                1
Just not interested! (Want to work in the corporate sector, or for the government or pursue research or something else), Academic Pressure                                                                                                                                                                                                   1
Name: ReasonsForLack, dtype: int64

In [248]:
#Delete the column reasons because half of value are missing
del df['ReasonsForLack']

In [249]:
#Checking again missing values (city and mental disorder should have some)
df.isna().sum()

EducationSector               0
Target IndividualProject      0
Age                           0
Gender                        0
City                          3
Influenced                    0
Perseverance                  0
DesireToTakeInitiative        0
Competitiveness               0
SelfReliance                  0
StrongNeedToAchieve           0
SelfConfidence                0
GoodPhysicalHealth            0
MentalDisorder               12
KeyTraits                     0
Target-ent_competency         0
dtype: int64

In [250]:
df

,EducationSector,Target IndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,Target-ent_competency
0,Engineering Sciences,No,19.0,Male,Yes,No,2.0,2.0,3.0,3.0,2.0,2.0,3.0,Yes,passion,1
1,Engineering Sciences,Yes,22.0,Male,No,Yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,Yes,vision,0
2,Engineering Sciences,No,18.0,Male,Yes,No,3.0,4.0,3.0,3.0,3.0,4.0,4.0,No,passion,0
3,Engineering Sciences,Yes,20.0,Male,Yes,Yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,No,resilience,0
4,Engineering Sciences,Yes,19.0,Male,Yes,Yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,Yes,vision,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,Yes,19.0,Male,Yes,Yes,3.0,5.0,4.0,3.0,4.0,4.0,5.0,Yes,positivity,1
215,Engineering Sciences,Yes,19.0,Male,Yes,No,2.0,2.0,2.0,2.0,2.0,2.0,2.0,No,work ethic,0
216,Engineering Sciences,Yes,22.0,Female,Yes,Yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,No,vision,1
217,Engineering Sciences,No,19.0,male,Yes,No,1.0,2.0,2.0,3.0,3.0,2.0,2.0,No,passion,0
218,Engineering Sciences,Yes,18.0,Male,NaN,Yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,No,passion,1

In [251]:
#Exporting the DataFrame to csv
df.to_csv(r'C:\Users\matui\Downloads\project_3_db.csv', index=False)

--------------

Sql alchemy

In [208]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp39-cp39-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.29 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [209]:
import mysql.connector as sql

In [215]:
conn = sql.connect(host = "localhost",
                   user = "root",
                   password = "007m008Mat!",
                   database = "project_3")

In [217]:
import sqlalchemy as db

In [227]:
query = db.select([db.func.count(data.columns.age)])

NameError: name 'data' is not defined